{% extends "posts/base.html" %}
{% load static %}
{% load tz %}

{% block formeta %}
<meta property="og:description" content="{{share_post_description}}" />
<meta property="og:title" content="{{share_post_title}}" />
<meta property="og:image" content="{{ share_post_thumbnail}}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="{{share_post_url}}" />
 {% endblock formeta%}

 
 {% block forstyle %}

 {%endblock forstyle %}

{% block forcontent %}

    <div id="cl-message-container">
        <span id="cl-message-text"></span>
        <span id="cl-message-close"></span>
    </div>

    <!-- Post Detail Wrapper Start -->
    <div class="post-detail-wrapper">
        <div class="post-detail-main-content">
            <h5 class="post-detail-title">{{ post.title }}</h5>
            <div class="post-detail-header">
                {% if post.author.profile_picture %}
                    <img src="{{ post.author.profile_picture.url }}" alt="Author" class="post-detail-author-image">
                {% else %}
                    <img src="{% static 'posts/images/default_profile.png' %}" alt="Author" class="post-detail-author-image">
                {% endif %}
                <div class="post-detail-author">{{ post.author.username|default:"Anonymous" }}</div>
                <div class="post-detail-share-icons">
                    <a href="https://api.whatsapp.com/send?text=Check%20this%20out!%0A%0A{{ share_post_title }}%0A%0A{{ share_post_description }}%0A%0A{{ share_post_thumbnail }}%0A%0A{{ share_post_url }}" target="_blank">
                        <img src="{% static 'posts/images/whatsapp.png' %}" alt="WhatsApp">
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_post_url }}" target="_blank">
                        <img src="{% static 'posts/images/facebook.png' %}" alt="Facebook">
                    </a>
                    <a href="https://twitter.com/intent/tweet?text={{ share_post_title }}%0A%0A{{ share_post_description }}%0A%0A{{ share_post_url }}" target="_blank">
                        <img src="{% static 'posts/images/twitter.png' %}" alt="Twitter">
                    </a>
                </div>
            </div>

            <div class="post-detail-content">
                {{ post.content|safe }}
                <img class="thumbnail-image" src="{{ share_post_thumbnail }}" alt="thumbnail">
            </div>
        </div>

        <div class="post-detail-comment-section" data-authenticated="{{ check_user }}">
            <div class="comments-container">
                <div class="comment-vote-container">
                    <div class="comment-vote-item">
                        <img src="{% static 'posts/images/comment.png' %}" alt="Comment icon">
                        <span>{{ post.comments_count }} comments</span>
                    </div>
                   <div class="comment-vote-item">
                        <img  id="post-vote-btn" src=" {% if user_liked %} {% static 'posts/images/vote_yellow.png' %} {% else %} {% static 'posts/images/vote_black.png' %} {% endif %}" alt="vote icon">
                        <span id="post-vote-count">{{ post.likes_count }} votes</span>
                    </div>
                </div>

                {% for comment in post.postcomments_set.all %}
                <div class="comment">
                    {% if comment.user %}
                    <span>{{ comment.user.username }} :
                        {% if not comment.published %}
                        <span class="pending-text">[pending]</span>
                        {% endif %}
                    </span>
                    {% elif comment.name %}
                    <span>{{ comment.name }} :
                        {% if not comment.published %}
                        <span class="pending-text">[pending]</span>
                        {% endif %}
                    </span>
                    {% else %}
                    <span>public user :
                        {% if not comment.published %}
                        <span class="pending-text">[pending]</span>
                        {% endif %}
                    </span>
                    {% endif %}
                    <span class="comment-date">{{ comment.created|date:"d M Y" }}</span>
                    {% if comment.published %}
                    <p>{{ comment.text }}</p>
                    {% else %}
                    <p>waiting for approval</p>
                    {% endif %}
                </div>
                {% empty %}
                <div class="no-comments-yet">No comments yet.</div>
                {% endfor %}
            </div>
            <div class="comment-form-container">
                <form id="comment-form">
                    <textarea id="comment-input" placeholder="Add your comment here" required></textarea>
                    <input type="text" id="name-input" placeholder="Name" required>
                    <input type="email" id="email-input" placeholder="E-mail" required>
                    <button type="submit" id="submit-button">Post Comment</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Post Detail Wrapper End -->





        <!-- Popular Posts Start -->
        <div class="popular-post-container">

 

                    {% if random_posts %}
                    {% for post in random_posts %}
                    <div class="popular-post" data-url="{{post.get_absolute_url}}">
                    <img src="{{post.image_url}}" alt="Image">
                    <div class="popular-post-content">
                        <div class="popular-post-title">{{post.title}}</div>
                        <div class="popular-post-date-and-icon popular-post-date">
                            <time datetime="" >{{post.get_display_date|date:"d" }}{{post.get_display_date|date:"M Y" }}</time>
                            <i class="fa-solid fa-arrow-up-right-from-square green-post-icon"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %} 

          



        </div>
<!-- Popular Posts End -->



    <!-- Scrollable  Posts Start -->
    <div class="scrollable-container-wrapper">

                <div class="scroll-indicator scroll-indicator-left"><i class="fa fa-arrow-left"></i></div>
                <div class="scrollable-container">
                    
                    {% if related_posts %}
                     {% for post in related_posts%}
                    <div class="scrollable-post" data-url="{{post.get_absolute_url}}">
                        <div class="scrollable-post-content">
                            <div class="scrollable-post-date">{{post.get_display_date|date:"d" }}{{post.get_display_date|date:"M Y" }}</div>
                            <i class="fa-solid fa-arrow-up-right-from-square scrollable-post-icon"></i>
                            <img src="{{post.image_url}}" alt="Image">
                            <div class="scrollable-post-title">{{post.title}}</div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}




                </div>
                <div class="scroll-indicator scroll-indicator-right"><i class="fa fa-arrow-right"></i> </div>

    </div>
    <!-- Scrollable Post END -->


{% endblock forcontent%}


{% block forscript %}



<script >


    
 document.addEventListener('DOMContentLoaded', function () {



    document.querySelectorAll('iframe').forEach(function(iframe) {
        // Set the allow attributes with permissions needed for fullscreen and other features
        iframe.setAttribute('allow', 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share');
        
        // Ensure fullscreen mode is enabled across various browser prefixes
        iframe.setAttribute('allowfullscreen', '');
        iframe.setAttribute('mozallowfullscreen', 'true');
        iframe.setAttribute('msallowfullscreen', 'true');
        iframe.setAttribute('oallowfullscreen', 'true');
        iframe.setAttribute('webkitallowfullscreen', 'true');
    
        // Optionally, add or update additional attributes like frameborder, height, width
        iframe.setAttribute('frameborder', '0'); // For compatibility
        iframe.setAttribute('height', '360'); // Example height
        iframe.setAttribute('width', '640'); // Example width
        
        console.log("Updated iframe attributes.");
    });
    

        //show message
        function showMessage(message) {
            var messageText = document.getElementById('cl-message-text');
            var messageContainer = document.getElementById('cl-message-container');
            
            messageText.textContent = message;
            messageContainer.classList.add('show');
            
            setTimeout(function () {
                messageContainer.classList.remove('show');
            }, 3000);
        }


        //Add Comment Script Start 

        var postDetailCommentSection =document.querySelector(".post-detail-comment-section");
        var isAuthenticatedUser=postDetailCommentSection.getAttribute("data-authenticated");
        var nameInput = document.getElementById('name-input');
        var emailInput = document.getElementById('email-input');
        if(isAuthenticatedUser=="True"){
            //console.log("user is authenticated",isAuthenticatedUser);
            nameInput.removeAttribute('required');
            emailInput.removeAttribute('required');
            nameInput.style.display = 'none';
            emailInput.style.display = 'none';
        }

    const commentInput = document.getElementById('comment-input');
    const submitButton = document.getElementById('submit-button');

    commentInput.addEventListener('input', function() {
        if (commentInput.value.trim() !== '') {
            submitButton.style.visibility = 'visible';
        } else {
            submitButton.style.visibility = 'hidden';
        }
    });


    document.getElementById('comment-form').addEventListener('submit', function(e) {
            e.preventDefault();

            const nameInput = document.getElementById('name-input').value;
            const username="{{request.user.username}}"
            const emailInput = document.getElementById('email-input').value;
            const commentInputText = document.getElementById('comment-input').value;

            if (commentInputText.trim() !== '') {
                const newComment = document.createElement('div');
                newComment.classList.add('comment');
                if(nameInput.trim()===""){
                    newComment.innerHTML =`<span>{{request.user.username}} : <span class="Pending-text">[Pending]</span></span><span class="comment-date">just now</span><p>${commentInputText}</p>`;
                }else{
                    newComment.innerHTML =`<span>${nameInput}: <span class="Pending-text">[Pending]</span></span><span class="comment-date">just now</span><p>${commentInputText}</p>`;              
                }
            

                document.querySelector('.comments-container').appendChild(newComment);

                document.getElementById('name-input').value = '';
                document.getElementById('email-input').value = '';
                document.getElementById('comment-input').value = '';

                submitButton.style.visibility = 'hidden'; 
            }


            fetch("{% url 'blogpost:post-detail' slug=post.slug %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    name: nameInput,
                    email: emailInput,
                    comment: commentInputText,
                    slug: "{{post.slug}}",
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json(); 
            })
            .then(data => {
                if (data.status === 'success') {
                    console.log("")
                    showMessage("Your Comment Has been Submitted.");
                } else {
                    showMessage('Failed to submit comment: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessage('Error submitting comment: ' + error.message);
            });
            
     });
        //Add Comment Script End

        

        //Add Like Script Start
        var likeImg=document.getElementById("post-vote-btn");
        likeImg.addEventListener('click',function(){
        //console.log("vote clicked");
        var currentSrc=likeImg.src;
        var voteText=document.getElementById('post-vote-count');

            fetch("{% url 'blogpost:post-detail' slug=post.slug %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    "slug": "{{post.slug}}",
                    "like": "true",
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json(); 
            })
            .then(data => {
                if (data.liked !== undefined && data.likes_count !== undefined) {
                    if (data.liked) {
                        likeImg.src="{% static 'posts/images/vote_yellow.png' %}";          
                        showMessage("Your Vote has been Added");
                    } else {
                        likeImg.src="{% static 'posts/images/vote_black.png' %}";
                        showMessage("Your Vote has been Removed");
                    }
                    voteText.textContent = data.likes_count === 1 ? data.likes_count+" vote": data.likes_count+" votes";

                } else {
                    // Handle the case where the response does not contain the expected properties
                    showMessage("unable to vote the post");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessage('Error submitting Vote: ' + error.message);
            });

        });
     //Add Like Script Start

           



    

});


</script>

{% endblock forscript%}