{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/user_dashboard.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <style>


    </style>
  </head>

  <body>
    <div class="dashboard-container">
          <!-- User Profile Section -->
          <div class="user-profile">
            <div class="profile-row">
              <div class="profile-image">
                <img src="{{request.user.profile_picture.url}}" alt="Profile Image" />
              </div>
              <div class="profile-info">
                <p>{{request.user.username}}</p>
                <p>{{request.user.email}}</p>
              </div>
            </div>
            <div class="profile-stats">
              <p>Published Post: {{published_count}}</p>
              <p>Pending Posts: {{bending_count}}</p>
            </div>
          </div>

          <!-- User Posts Section Start-->
          <div class="user-posts">

              <div class="select-section">
                <button class="create-post-btn"  id="create-brn-url">Create Post 
                  <i class="fa-solid fa-pen-to-square create-post-icon"></i></button>
                <select id="post-select" onchange="filterPosts()">
                  <option value="all">All</option>
                  <option value="pending">Pending Posts</option>
                  <option value="published">Published Posts</option>
                </select>
              </div>
                <!-- Post Grid  Start -->
              <div class="posts-grid" id="posts-grid">
                

                {% if published_posts.count == 0 and bending_posts.count == 0 %}
                <p class="no-posts">You don's have Anyposts</p>
                {% endif %}



                <!-- Published Posts Start -->
                {% for post in published_posts %}
                <div class="post-item published" data-url="{% url 'blogpost:user-dashboard-post-detail' slug=post.slug %}">
                  <div class="post-image">
                    <img src="{{post.thumbnail.url}}" alt="Image" />
                  </div>
                  <div class="post-title">
                    <p>{{post.title}}</p>
                  </div>
                </div>
                {% endfor %}
                <!-- Published Posts End -->


                <!-- Pending Posts Start -->
                {% for post in bending_posts %}
                <div class="post-item pending" data-url="{% url 'blogpost:user-dashboard-post-detail' slug=post.slug %}" style="display: none">
                  <div class="pending-label">Pending</div>
                  <div class="post-image">
                    <img src="{{post.thumbnail.url}}" alt="Image" />
                  </div>
                  <div class="post-title">
                    <p>{{post.title}}</p>
                  </div>
                </div>
                {% endfor %}
                <!-- Pending Posts End -->


              </div>
              <!-- User Post End -->
          </div>
            <!-- User Posts Section End -->


  </div>

    <script>
      function filterPosts() {
        var select = document.getElementById("post-select");
        var value = select.value;
        var posts = document.querySelectorAll(".post-item");
      
        posts.forEach(function (post) {
          if (value === "all") {
            post.style.display = "block";
          } else if (value === "pending") {
            post.style.display = post.classList.contains("pending") ? "block" : "none";
          } else if (value === "published") {
            post.style.display = post.classList.contains("published") ? "block" : "none";
          }
        });
      }
      
      // Call filterPosts initially to show all posts when the page loads
      document.addEventListener('DOMContentLoaded', function() {
        filterPosts();
      
        document.querySelectorAll('.post-item').forEach(function(div) {
          div.addEventListener('click', function() {
            var url = div.getAttribute('data-url');
            window.location.href = url;
          });
        });

        document.getElementById('create-brn-url').addEventListener('click', function() {
          window.location.href ='{% url 'blogpost:post-create' %}'; 
        });

      });
    </script>
  </body>
</html>
